<div class="jumbotron bundler-instructions">
  <h1>Almost done!</h1>
  <p>
    You need to configure bundler to use these new credentials to access this gem server.
    These settings are stored in ~/.bundler/config. You can add the credentials by running the command below.
    <strong>We are never going to show this secret key to you again.</strong>
  </p>
  <p class="text-center">
    <code>bundle config --global <%= geminabox_url %>/ <%= @new_device.identifier %>:<%= @new_device.password %></code>
  </p>
  <p class="continue">
    <%= link_to 'Done!', devices_path, :class => 'btn btn-primary btn-lg' %>
  </p>
</div>
