<div class="jumbotron">
  <h1>Welcome <%= current_user.name %>!</h1>
  <p>
    In order to use the the gems on this server you need to create a token for each of your computers.

    <%= render 'form' %>
  </p>
</div>
