<div id="devices" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Gem Access System Tokens</h2>
  </div>

  <div class="panel-body">
    <p>
      These represent external systems that need access to your gems like CI systems and production servers.
    </p>
  </div>

  <table class="table">
    <% User.system_user.devices.each do |device| %>
      <tr>
        <td class="name"><%= device.name %></td>
        <td class="last-used">
          <% if device.used? %>
            used <%= time_ago_in_words(device.used_at) %> ago
          <% else %>
            never used
          <% end %>
        </td>
        <td class="action">
          <%= link_to 'Delete', system_device_path(device), :class => 'text-danger pull-right', :data => {:method => 'delete', :confirm => 'Really?'} %>
        </td>
      </tr>
    <% end %>
    <tr class="new">
      <td colspan="3">
        <%= link_to icon('plus', 'Register a system token'), new_system_device_path %>
      </td>
    </tr>
  </table>
</div>
